
.sample h4{color:#069abd;font-size:25px;font-weight:bold;text-align:center;}

.cfgen-form-container{
 max-width: 550px;
 
 background-color: #fbfbfb; 
 padding: 10px 10px 1px;
 border-radius: 10px;

}
.cfgen-form-container1{
 margin: 50px 0;
}
h1 {
font-size: 22px;
text-align:center;
padding: 0 0 10px;
margin: 0;
text-transform: none;
}
.req {
color: #555;
padding:0;
}
.from{
color: #858585;
font-size: 14px;
padding-right: 5px;
padding-left: 5px;
}
.logo-title {
color: #F80808;
}
  .form-control {
  border: 3px solid #ccc;
}
.ui-datepicker{
	font-size:9pt !important;
}
#cfgen-form-4 .cfgen-clear{
	clear:both;
}
#cfgen-form-4 .cfgen-e-c{
	clear:both;
	margin-bottom:2px;
}
#cfgen-form-4 .cfgen-icon-c + .cfgen-input-c{
	display:table-cell;
	width:100%;
	vertical-align:top;
}
#cfgen-form-4 .cfgen-option-set::after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#cfgen-form-4 .cfgen-label{
	display:block;
	padding-right:10px;
	max-width:100%;
}
#cfgen-form-4 .cfgen-terms input{
	vertical-align:middle;
	margin-top:0;
}
#cfgen-form-4 .cfgen-paragraph{
	margin-bottom:1px;
}
#cfgen-form-4 .cfgen-captcha-c{
	margin-top:2px;
	margin-left: 112px;
}
#cfgen-form-4 .cfgen-captcha-img{
	border:1px solid #dcdcdc;
	border-radius:4px;
	margin-bottom:1px;
}
#cfgen-form-4 .cfgen-captcha-refresh{
	margin-bottom:2px;
	margin-left:2px;
	cursor:pointer;
}
#cfgen-form-4 .cfgen-submit{
	cursor:pointer;
	height:auto;
	-webkit-appearance:none;
}
#cfgen-form-4 .cfgen-required{
	color:#990000;
}
#cfgen-form-4 .cfgen-uploadsuccess-c{
	margin-top:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#cfgen-form-4 .cfgen-deleteupload{
	color:#ff0033;
	margin-left:10px;
	cursor:pointer;
}
#cfgen-form-4 .cfgen-deleteupload:hover{
	text-decoration:underline;
}
#cfgen-form-4 .cfgen-loading{
	display:none;
	background:url('loading.gif') no-repeat 0 1px;
	width:32px;
	height:35px;
	text-align: center;
} 
#cfgen-form-4 .cfgen-errormessage, 
#cfgen-form-4 .cfgen-validationmessage{
	padding: 0;
	line-height:normal;
	border-radius:4px;
}
#cfgen-form-4 .cfgen-validationmessage{
	margin:0 0 10px 0;
}
#cfgen-form-4 .cfgen-errormessage{
	display: none;
	margin:4px 0;
}
#cfgen-form-4 .cfgen-option-content{
	max-width:100%;
}
#cfgen-form-4 .cfgen-option-radio{
	margin-bottom:4px;
}
#cfgen-form-4 .cfgen-option-checkbox{
	margin-bottom:2px;
}
#cfgen-form-4 .cfgen-option-content input[type=radio], 
#cfgen-form-4 .cfgen-option-content input[type=checkbox]{
	margin-right:2px;
	margin-left:1px;
	vertical-align:middle;
}
#cfgen-form-4 .cfgen-option-content input[type=checkbox]{
	margin-top:0;
}
#cfgen-form-4 .cfgen-option-content input[type=radio]{
	margin-top:-2px;
}
#cfgen-form-4 .cfgen-icon-c{
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:4px;
}
#cfgen-form-4 .cfgen-rating-c .fa{
	cursor:pointer;
}
#cfgen-form-4 .cfgen-input-c input[type="text"], 
#cfgen-form-4 .cfgen-input-c select, 
#cfgen-form-4 .cfgen-input-c input[type="submit"], 
#cfgen-form-4 .cfgen-input-c textarea{
	outline-style:none;
}
#cfgen-form-4 .cfgen-input-c input[type="text"], 
#cfgen-form-4 .cfgen-input-c textarea, 
#cfgen-form-4 .cfgen-input-c input[type="submit"]{
	width:100%;
}
#cfgen-form-4 .cfgen-input-c input[type="text"], 
#cfgen-form-4 .cfgen-input-c select, 
#cfgen-form-4 .cfgen-input-c input[type="submit"], 
#cfgen-form-4 .cfgen-input-c textarea, 
#cfgen-form-4 .cfgen-icon-c, 
#cfgen-form-4 .cfgen-label, 
#cfgen-form-4 .cfgen-paragraph, 
#cfgen-form-4 .cfgen-errormessage, 
#cfgen-form-4 .cfgen-validationmessage{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
#cfgen-form-4 .cfgen-label, 
#cfgen-form-4 .cfgen-paragraph, 
#cfgen-form-4 .cfgen-errormessage, 
#cfgen-form-4 .cfgen-validationmessage{
	max-width:100%;
	color: #F80808;
}
#cfgen-form-4 .cfgen-label{
	font-family:Arial;
	font-weight:700;
	font-style:normal;
	font-size:16px;
	color:#4DBCE9;
	margin-bottom:0;
}
#cfgen-form-4 .cfgen-input-group textarea,
#cfgen-form-4 .cfgen-input-group input[type="text"],
#cfgen-form-4 .cfgen-input-group select,
#cfgen-form-4 .cfgen-option-content{
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	font-size:14px;
	color:#000000;
}
#cfgen-form-4 .cfgen-input-group input[type="text"],
#cfgen-form-4 .cfgen-input-group textarea,
#cfgen-form-4 .cfgen-input-group select{
	padding:5px;
	border-width:2px;
	border-style:solid;
	border-color:#dfdfdf;
	background-color:#ffffff;
}
#cfgen-form-4 .cfgen-input-group input[type="text"],
#cfgen-form-4 .cfgen-input-group textarea,
#cfgen-form-4 .cfgen-input-group select:not([multiple]){
	border-radius:4px;
	margin-bottom: 2px;
}
#cfgen-form-4 .cfgen-input-group input[type="text"]:focus,
#cfgen-form-4 .cfgen-input-group textarea:focus,
#cfgen-form-4 .cfgen-input-group select:focus{
	border-color:#2ba0cf;
}
#cfgen-form-4 #cfgen-element-4-1{
	font-family:Arial;
	font-weight:bold;
	font-style:normal;
	font-size:34px;
	color:#26ADE4;
}
#cfgen-element-4-2-paragraph{
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	font-size:14px;
	color:#000000;
	width:300px;
}
#cfgen-form-4 #cfgen-element-4-2{
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	font-size:14px;
	color:#000000;
	width:300px;
}
#cfgen-form-4 #cfgen-element-4-6-label{
	display:none;
}
#cfgen-element-4-6-set-c{
	
	max-width:100%;
}
#cfgen-element-4-6-inputgroup-c{
	
}
#cfgen-form-4 #cfgen-element-4-3-label{
	display:none;
}
#cfgen-element-4-3-set-c{
	
	max-width:100%;
}
#cfgen-element-4-3-inputgroup-c{
	
}
#cfgen-form-4 #cfgen-element-4-8-label{
	display:none;
}
#cfgen-element-4-8-set-c{
	
	max-width:100%;
}
#cfgen-element-4-8-inputgroup-c{
	
}
#cfgen-form-4 #cfgen-element-4-4-label{
	display:none;
}
#cfgen-element-4-4-set-c{
	
	max-width:100%;
}
#cfgen-element-4-4-inputgroup-c{
	
}
#cfgen-form-4 #cfgen-element-4-4{
	padding-bottom: 42px;
}
#cfgen-form-4 #cfgen-element-4-7-label{
	display:none;
}
#cfgen-element-4-7-set-c{
	max-width: 100%;
}
#cfgen-element-4-7-inputgroup-c{
	max-width: 30%;
	margin-top: 10px;
	margin-left: 0;
	display: inline-block;
}
#cfgen-element-4-5-set-c{
	max-width:100%;
}
#cfgen-form-4 .cfgen-captcha-c {
   margin-left: 130px;
   display: inline-block;
}
#cfgen-element-4-5-inputgroup-c{
	max-width:100%;
}
#cfgen-form-4 #cfgen-element-4-5{
	font-family:Arial;
	font-weight:bold;
	font-style:normal;
	font-size: 18px;
	color:#fff;
	background-color:#017c2a;
	border-width:1px;
	border-style:solid;
	border-color:#cccccc;
	border-radius:5px;
	margin-left:0px;
	height:39px;
}

@media only screen and (min-width: 769px) and (max-width: 990px){
.cfgen-form-container{
	width: 100%;
	margin: 50px auto;
}
.cfgen-input-c {
}
#cfgen-element-4-6-set-c,#cfgen-element-4-3-set-c,#cfgen-element-4-4-set-c,#cfgen-element-4-8-set-c{
	width: 400px;
	max-width:100%;
}
#cfgen-element-4-5-set-c {
max-width: 100%;
}
#cfgen-element-4-6-inputgroup-c,#cfgen-element-4-3-inputgroup-c,#cfgen-element-4-8-inputgroup-c,#cfgen-element-4-4-inputgroup-c,#cfgen-element-4-7-inputgroup-c{
	margin-left: 88px;
}
#cfgen-element-4-7-set-c{
	max-width: 100%;
	margin-top: 20px;
}
#cfgen-element-4-7-inputgroup-c{
	max-width: 33%;
	margin-top: 10px;
	margin-left: 160px;
}
#cfgen-element-4-5-inputgroup-c{

}
#cfgen-form-4 .cfgen-captcha-c {
   margin-left: 180px;
}
.mfp-close {
    margin-top: 25px;
}
}

@media only screen and (max-width: 800px) {
.mfp-close {
    margin-top: 70px !important;
}	
#cfgen-element-4-6-inputgroup-c, #cfgen-element-4-3-inputgroup-c, #cfgen-element-4-8-inputgroup-c, #cfgen-element-4-4-inputgroup-c, #cfgen-element-4-7-inputgroup-c {
   margin-left: 0 !important;
}
}
@media only screen and (max-width: 768px) {
.cfgen-form-container{
	width: 100%;
	margin: 50px auto;
}
.cfgen-input-c {
}
#cfgen-element-4-6-set-c,#cfgen-element-4-3-set-c,#cfgen-element-4-4-set-c,#cfgen-element-4-8-set-c{
	
	max-width:100%;
}
#cfgen-element-4-5-set-c {
max-width: 100%;
}
#cfgen-element-4-6-inputgroup-c,#cfgen-element-4-3-inputgroup-c,#cfgen-element-4-8-inputgroup-c,#cfgen-element-4-4-inputgroup-c,#cfgen-element-4-7-inputgroup-c{
	margin-left: 88px;
}
#cfgen-element-4-7-set-c{
	max-width: 100%;
	margin-top: 20px;
}
#cfgen-element-4-7-inputgroup-c{
	max-width: 33%;
	margin-top: 10px;
	margin-left: 160px;
}
#cfgen-element-4-5-inputgroup-c{

}
#cfgen-form-4 .cfgen-captcha-c {
   margin-left: 180px;
}
}
@media only screen and (max-width: 414px){
.cfgen-form-container{
	width: 100%;
	max-width: 350px;
	margin: 10px 0;
}
h1,h4 ,p {
font-size: 14px;
}

#cfgen-element-4-6-set-c,#cfgen-element-4-3-set-c,#cfgen-element-4-4-set-c,#cfgen-element-4-8-set-c{
	width:300px;
}
#cfgen-element-4-5-set-c {
max-width: 100%;
}
#cfgen-element-4-6-inputgroup-c,#cfgen-element-4-3-inputgroup-c,#cfgen-element-4-8-inputgroup-c,#cfgen-element-4-4-inputgroup-c,#cfgen-element-4-7-inputgroup-c{
	margin-left: 0;
}
#cfgen-element-4-7-set-c{
	max-width: 100%;
	margin-top: 20px;
}
#cfgen-element-4-7-inputgroup-c{
	max-width: 40%;
	margin-top: 10px;
	margin-left: 70px !important;
}
#cfgen-element-4-5-inputgroup-c{

}
#cfgen-form-4 .cfgen-captcha-c {
   margin-left: 66px;
   font-size: 11px;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 350px;
}
.mfp-close {
    margin-top: 25px;
}
}

@media only screen and (max-width: 375px){
#cfgen-form-4 .cfgen-captcha-c {
   
}
}
@media only screen and (max-width: 360px){

#cfgen-form-4 .cfgen-captcha-c {
   margin-left: 50px;
   font-size: 11px;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 344px;
}
}
@media only screen and (max-width: 320px){
.cfgen-form-container{
	width: 100%;
	max-width: 280px;
	margin:10px 0;
}
h1,h4{
   margin-left: 0;
   font-size: 10px;
}
p#cfgen-form-4 .cfgen-captcha-c  {
	font-size: 11px;
}
#cfgen-element-4-6-set-c,#cfgen-element-4-3-set-c,#cfgen-element-4-4-set-c,#cfgen-element-4-8-set-c{
	width:280px;
}
#cfgen-element-4-7-inputgroup-c{
	max-width: 60%;
	margin-top: 10px;
	margin-left: 40px !important;
	font-size: 11px;
}
#cfgen-form-4 .cfgen-captcha-c {
   margin-left: 50px;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 280px;
}
}